html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.game-cover-thumb {
    width: 180px;
    height: 135px; 
    object-fit: cover; 
    border-radius: 6px;
    background: #111; 
}



.game-cover-large {
    width: 320px;
    height: 480px;
    object-fit: contain; 
    background: #f4f4f4; 
    border-radius: 10px;
    padding: 12px;
}

